.newsletter-box {
  background-image: url('https://zolotiyvik.ua/media/cmsadvanced/grid/resized/1920/870/1707839078.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 0;
}
