.newsletter-box {
  padding: 50px 0;
  position: relative;
  overflow: hidden;
}

.newsletter-box video {
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  object-fit: cover;
  filter: blur(2px);
}
.newsletter-box .overlay {
  position: relative;
  z-index: 1;
  background: none; /* Remove darkening effect */
  padding: 50px 0;
  color: white; /* Ensure text color is white */
}

.newsletter-box input {
  background: rgba(255, 255, 255, 0.176);
  color: white; /* Adjusted background opacity */
}

.newsletter-box input::-webkit-input-placeholder {
  color: #ccc;
}
.newsletter-box input:-ms-input-placeholder {
  color: #ccc;
}
.newsletter-box input::placeholder {
  color: #ccc;
}

@media (max-width: 600px) {
  .newsletter-box {
    padding: 20px 0; /* Adjust padding for smaller screens */
  }

  .newsletter-box .overlay {
    padding: 20px 0; /* Adjust padding for smaller screens */
  }

  .newsletter-box input {
    padding: 10px; /* Adjust input padding for smaller screens */
  }

  .newsletter-box button {
    padding: 10px 20px; /* Adjust button padding for smaller screens */
  }

  .newsletter-box form {
    width: 90%; /* Ensure form does not overflow */
    padding: 0 10px; /* Add padding to prevent overflow */
  }

  .newsletter-box p {
    font-size: 0.85rem; /* Smaller, more elegant text */
    line-height: 1.25;
  }

  .newsletter-box .text-2xl {
    font-size: 1.2rem; /* Adjust heading size */
    line-height: 1.2;
  }
}
