@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@import url(https://fonts.googleapis.com/css?family=Tinos:regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Forum:regular);

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);

@font-face {
  font-family: 'Futura Light';
  src: url('./fonts/FuturaLight.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #0fa3b1;
  text-transform: uppercase;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.playfair {
  font-family: 'Playfair Display', serif;
}

a.active hr {
  display: block;
}

@media (max-width: 640px) {
  a.active {
    background-color: #0fa3b1;
    color: white;
  }
}

.forum {
  font-family: 'Forum', sans-serif;
}

.tinos {
  font-family: 'Tinos', serif;
  font-style: italic;
}

.futura {
  font-family: 'Futura Light', sans-serif;
}
